.language-gdscript {
    /* Define GDScript highlight.js colors */
    --background-color: #0e1012;
    --text-color: #ccced3;
    --annotation-color: #ffb373;
    --symbol-color: #abc8ff;
    --member-variable-color: #bce0ff;
    --node-ref-color: #63c259;
    --keyword-color: #ff7085;
    --control_flow_keyword-color: #ff8ccc;
    --base_type-color: #42ffc2;
    --engine_type-color: #8effda;
    --user_type-color: #c7ffed;
    --comment-color: grey;
    --string-color: #ffeca1;
    --number-color: #a1ffe0;
    --function_definition-color: #66e6ff;
    --function-color: #57b3ff;
    --global-func-color: #a3a3f5;
}

code.hljs.language-gdscript .hljs-class_name {
    color: var(--user_type-color);
}

code.hljs.language-gdscript .hljs-annotations {
    color: var(--annotation-color);
}

code.hljs.language-gdscript .hljs-signal {
    color: var(--member-variable-color);
}

code.hljs.language-gdscript .hljs-node_ref {
    color: var(--node-ref-color);
}

code.hljs.language-gdscript .hljs-variable {
    color: var(--member-variable-color);
}

code.hljs.language-gdscript .hljs-keyword {
    color: var(--keyword-color);
}

code.hljs.language-gdscript .hljs-control_flow_keyword {
    color: var(--control_flow_keyword-color);
}

code.hljs.language-gdscript .hljs-base_type {
    color: var(--base_type-color);
}

code.hljs.language-gdscript .hljs-engine_type {
    color: var(--engine_type-color);
}

code.hljs.language-gdscript .hljs-user_type {
    color: var(--user_type-color);
}

code.hljs.language-gdscript .hljs-comment {
    color: var(--comment-color);
}

code.hljs.language-gdscript .hljs-string {
    color: var(--string-color)
}

code.hljs.language-gdscript .hljs-number {
    color: var(--number-color);
}

code.hljs.language-gdscript .hljs-title {
    color: var(--function_definition-color);
}

code.hljs.language-gdscript .hljs-return_type {
    color: var(--base_type-color);
}

code.hljs.language-gdscript .hljs-function_call{
    color: var(--function-color);
}

code.hljs.language-gdscript .hljs-global_func{
    color: var(--global-func-color);
}

code.hljs.language-gdscript .hljs-symbol {
    color: var(--symbol-color);
}

code.hljs .hljs-name,
code.hljs .hljs-tag,
code.hljs .hljs-attr {
    color: var(--html-color);
}

pre,
code,
code.hljs {
    background: var(--background-color);
    color: var(--text-color);
}

pre,
code,
code.hljs {
    background: var(--background-color);
    color: var(--text-color);
}

/* code {
    margin: 20px;
    padding: 5px 20px;
    display: block;
    position: relative;
    font-size: 1.1em;
    text-align: initial;
    tab-size: 4;
    line-height: 2;
}

* {
    box-sizing: border-box;
} */